.motion-one{
  -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
    animation-delay: 0s;
}

.motion-two{
  -webkit-animation-delay: .2s; /* Chrome, Safari, Opera */
    animation-delay: .2s;
}

.motion-tree{
  -webkit-animation-delay: .4s; /* Chrome, Safari, Opera */
    animation-delay: .4s;
}

.motion-four{
  -webkit-animation-delay: .6s; /* Chrome, Safari, Opera */
    animation-delay: .6s;
}

.motion-five{
  -webkit-animation-delay: .8s; /* Chrome, Safari, Opera */
    animation-delay: .8s;
}

.motion-six{
  -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}

.motion-seven{
  -webkit-animation-delay: 1.2s; /* Chrome, Safari, Opera */
    animation-delay: 1.2s;
}